
.boutons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 15px;
}
.cancel-button{
    margin-right: 10px;
}

.required{
    color: red;
    margin-top: 5px;
}

.p-inputtext {
    width: 400px;
}
#birthDate{
    width: 400px;
}

.loader{
      font-size: 4rem;
    color: #0056b3;
    display: flex;
    justify-content: center;
}