<nav class="navbar">
  <div class="logo">
    <span class="icon">🏥</span>
    <span class="title">MalliaGement Application - Ressources Humaines</span>
  </div>
</nav>
<div class="main-layout">
  <aside class="sidebar">
    <ul>
      <li routerLink="/praticiens" >👨‍⚕️ Praticiens</li>
    </ul>
     <ul>
      <li routerLink="/praticiens" >👨‍⚕️ Consultation de rendez-vous</li>
    </ul>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>

<!-- <p-autoComplete [(ngModel)]="selectedCollaborateur" [suggestions]="collaborateurs" field="getDisplayWithZadig"
      (completeMethod)="searchCollaborateur($event)" (onSelect)="onPersonnelChange()"
      placeholder="Recherchez un collaborateur">
    </p-autoComplete> -->