
<i class="pi pi-spin pi-spinner loader"  *ngIf="isLoading"></i>
<p-toast/>
<div class="praticien-container" *ngIf="!isLoading">
    <div>
         <p-select [options]="allPraticiens" [(ngModel)]="selectedPraticien" optionLabel="getNomPrenom" [filter]="true"
            filterBy="nom" [showClear]="true" placeholder="Sélectionnez un praticien" class="w-full md:w-56">
            <ng-template #selectedItem let-selectedOption>
                <div class="flex items-center gap-2">
                    <div>{{ selectedOption.getNomPrenom() }}</div>
                </div>
            </ng-template>
            <ng-template let-praticien #item>
                <div class="flex items-center gap-2">
                    <div>{{ praticien.getNomPrenom() }}</div>
                </div>
            </ng-template>
        </p-select>
    </div>
    <div class="action-boutons">
        <p-button label="Ajouter un praticien" (onClick)="openPraticienPopUp(true)" [raised]="true" severity="success" />
        <ng-container *ngIf="selectedPraticien">
            <p-button icon="pi pi-pen-to-square" severity="secondary" (onClick)="openPraticienPopUp(false)"  />
            <p-confirmdialog />
            <p-button icon="pi pi-trash" severity="danger" (click)="confirmerSuppression($event)"/>
            <p-button label="Afficher les rendez-vous" [raised]="true" severity="success" (click)="openAppointmentsPopUp()" />
        </ng-container>
    </div>
</div>