<label style="margin-bottom: 10px;" for="selectedPraticien">Sélectionnez un praticien : </label>
<br>
<div class="praticien-container">
    <div class="search-bar">
        <input type="text" [(ngModel)]="searchRPPS" (input)="onSearch()" placeholder="Rechercher par RPPS" />
    </div>
    <div>
        <p-button label="Ajouter" [raised]="true" severity="success" />
    </div>
    <p-table [value]="praticiens" [paginator]="true" [rows]="5" [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="loadMedecins($event)">
        <ng-template pTemplate="header">
            <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>RPPS</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-practicien>
            <tr>
            <td>{{ medecin.nom }}</td>
            <td>{{ medecin.prenom }}</td>
            <td>{{ medecin.rpps }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>